<ion-view view-title="Ladyboy Challenge">
    <ion-content class="center">
        <h5>Look can be so deceiving. Find the real girl, don't get yourself fooled!!!!</h5>
        <img class="banner-img padding" src="img/banner.jpg" />
        <button ui-sref="game" class="button button-full  button-royal">
            <i class="icon ion-heart"></i> Start Game
        </button>
        <button ui-sref="leaderboard" class="button button-full button-royal">
            <i class="icon ion-trophy"></i> Leaderboard
        </button>
    </ion-content>
</ion-view>
